* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  background-color: #f2f6fc !important;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  background-color: rgba(255, 255, 255);
  padding: 0.5rem 6% 0.5rem 0.5rem !important;
}

.logo {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 5px;
  padding-left: 5%;
}
.logo-img {
  width: 50px;
  height: 50px;
}
.img-logo-top {
  width: 100%;
}
.text-logo-h1 {
  font-size: 24px;
  font-weight: 700;
}
.search-engine-top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.user-and-profile {
  display: flex;
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: end;
  /* padding-right: 5%; */
  /* width: 20%; */
  cursor: pointer;
}
.input-img-egine-1 {
  background: url(img/search.png) no-repeat scroll 95% 50%;
  background-size: 20px;
  padding-left: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 70%;
  padding: 2%;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid whitesmoke;
}
.name-username {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  line-height: 30px;
}
.welcome-home {
  font-size: 13px;
  /* font-weight: 400; */
  text-align: end;
  text-transform: uppercase;
  font-weight: 500;
  color: grey;
}
.name-user-1 {
  font-size: 15px;
  font-weight: 600;
}
.prifile-human {
  width: 30px;
  height: 30px;
}
.img-profile-human {
  width: 100%;
}
.name-user-box {
  display: flex;
  align-items: center;
  gap: 7px;
}
.toggle-btn{
  /* color: white; */
  /* font-size: 1.5rem; */
  cursor: pointer;
  display: flex;
  padding-bottom: 5px;
}
.user-dropdown{
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 75px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.user-dropdown.open{
  height: 240px;
  display: flex;
    flex-direction: column;
    gap: 5%;
}
.user-dropdown li{
  padding: 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-dropdown li a{
  text-decoration: none;
  color: black;
}
.user-dropdown li a:visited{
  color: black;
}
.arrow-down-profile {
  width: 10px;
  height: 10px;
}
.box-profile-circle {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}
/* main side bar */

.container-main {
  width: 100%;
  display: flex;
}
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 45px;
  border-right: 1px groove lightgray;
  width: 15%;
  padding-top: 3%;
}
.admin_menu_or_user{
  display: flex;
  width: 100%;
}
.s_1_t,.s_2_t,.s_3_t,.s_4_t{
  color: inherit;
}
.s_1_t:hover,.s_2_t:hover,.s_3_t:hover,.s_4_t:hover{
  color: white;
  text-decoration: none;
}
.logo-side-bar-1:hover .text-s-1 h1,.logo-side-bar-2:hover .text-s-2 h1,.logo-side-bar-3:hover .text-s-3 h1,.logo-side-bar-4:hover .text-s-4 h1{
  color: white;
  text-decoration: none;
}
.logo-side-bar-1:hover .img-s-1 .fa-book,.logo-side-bar-2:hover .img-s-2 .fa-box,.logo-side-bar-3:hover .img-s-3 .fa-folder,.logo-side-bar-4:hover .img-s-4 .fa-gear,.child:hover .img-s-3 .fa-building-columns,.child_2:hover .img-s-3 .fa-person-running,.hakAccess:hover .img-s-4 .fa-universal-access ,.addUsers:hover .img-s-4 .fa-user-plus,.money:hover .img-s-3 .fa-building-columns,.money_2:hover .img-s-3 .fa-person-running,.logo-side-bar-3:hover .img-s-3 .fa-money-bill{
  color: #ededed;
}
.fa-book,.fa-box,.fa-folder,.fa-gear,.fa-building-columns,.fa-person-running,.fa-universal-access,.fa-user-plus,.fa-money-bill{
  color: grey;
}
.admin-or-user-inside {
  font-weight: bold;
  font-size: 10px;
}
.box-side-bar-1 {
  display: flex;
  flex-direction: column;
 width: 100%;
  gap: 40px;
  padding-right: 10%;
}
.child:hover .text-s-3 .s_3_t,.child_2:hover .text-s-3 .s_3_t,.hakAccess:hover .text-s-4 .s_4_t ,.addUsers:hover .text-s-4 .s_4_t,.money:hover .text-s-3 .s_3_t,.money_2:hover .text-s-3 .s_3_t{
  color: white;
  text-decoration: none;
}
.child .text-s-3 .s_3_t,.child_2 .text-s-3 .s_3_t,.hakAccess .text-s-4 .s_4_t,.addUsers .text-s-4 .s_4_t,.money .text-s-3 .s_3_t,.money_2 .text-s-3 .s_3_t{
  text-decoration: none;
}
.logo-side-bar-1 {
  display: flex;
  gap: 10px;

  justify-content: start;
  align-items: center;
}
.text-s-1,.text-s-2,.text-s-3,.text-s-4{
  display: flex;
  padding-top: 3%;
}
.admin_menu_or_user,.box-side-bar-1{
  padding-left: 10%;
}
.logo-side-bar-1,.logo-side-bar-2,.logo-side-bar-3,.logo-side-bar-4{
  cursor: pointer;
  padding: 5%;
  border-radius: 10px;

}
.dropdown-m-d-b{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo-side-bar-1:hover,.logo-side-bar-2:hover,.logo-side-bar-3:hover,.logo-side-bar-4:hover{
  background-color: #0087ff;
}
.child.downMaster,.child_2.downMaster,.hakAccess.downMaster,.addUsers.downMaster,.money.downMaster,.money_2.downMaster{
  padding: 5%;
  display: flex;
  max-height: 100px;
}
.child,.child_2,.hakAccess,.addUsers,.money,.money_2{
    display: none;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 0%;
    border-radius: 10px;
    transition: max-height 0.5s ease-in;
    max-height: 0;

}
.child:hover,.child_2:hover,.hakAccess:hover,.addUsers:hover,.money:hover,.money_2:hover{
  background-color: #4F709C;
}
.img-1-side-bar {
  width: 20px;
  height: 20px;
}
.text-side-bar-1 {
  font-weight: normal;
  font-size: 12px;
  color: grey;
}
.img-2-side-bar {
  width: 20px;
  height: 20px;
}
.text-side-bar-2 {
  font-weight: normal;
  font-size: 12px;
  color: grey;
}
.logo-side-bar-2 {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.logo-side-bar-3 {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.img-3-side-bar {
  width: 20px;
  height: 20px;
}
.text-side-bar-3 {
  font-weight: normal;
  font-size: 12px;
  color: grey;
}
.logo-side-bar-4 {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.img-4-side-bar {
  width: 20px;
  height: 20px;
}
.text-side-bar-4 {
  font-weight: normal;
  font-size: 12px;
  color: grey;
}

/* main content */
.main-content {
  display: flex;
  padding: 3%;
  flex-direction: column;
  gap: 30px;
  width: 85%;
}
.box-priceses {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 3%;
  gap: 20px;
  width: 70%;
}
.filter-earning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.earn-report {
  display: flex;
  flex-direction: row;
}
.earn-text {
  font-size: 14px;
  font-weight: 500;
}
.filter-earn {
  display: flex;
}
.filter {
  width: 150px;
  border: none;
  padding: 10%;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.earning-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.text-earning {
  font-size: 30px;
}
.garp-money {
  display: flex;
  gap: 15px;
  align-items: center;
}
.img-graph {
  width: 30px;
  height: 30px;
}
.text-total-graph {
  display: flex;
  flex-direction: column;
}
.text-1-total-graph,
.text-2-total-graph {
  font-size: 10px;
  font-weight: 600;
}
.text-update-graph {
  display: flex;
  flex-direction: column;
}
.update-text-1,
.update-text-2 {
  font-size: 12px;
  font-weight: normal;
}
.box-graph-all {
  display: flex;
  gap: 90px;
  width: 100%;
}
.graph-2-earn-money {
  background-color: #0087ff;
  border-radius: 10px;
  width: 60%;
}
.graph-bagan-1 {
  border-top: 1px solid gray;
  width: 50%;
}
.garp-circle-1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.earing-by-items {
  background-color: white;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  align-items: center;
}
.text-circle-inside {
  text-align: center;
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}
.text-1-circle-inside,
.text-3-circle-inside,
.text-4-circle-inside {
  font-size: 12px;
  font-weight: normal;
}
.circle-color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.text-2-circle-inside {
  font-size: 1.6em;
}
.text-circle-1,
.text-circle-2 {
  font-size: 12px;
  font-weight: normal;
}
.garp-circle-1 {
  width: 100px;
}
.color-1-circle,
.color-2-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-1-circle {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50px;
}
.img-2-circle {
  width: 20px;
  height: 20px;
  background-color: #44c3ec;
  border-radius: 50px;
}
.main-content-top {
  display: flex;
  gap: 100px;
  width: 100%;
}
.main-content-buttom{
  display: flex;
    width: 100%;
    gap:100px
}
.box-left-buttom{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 70%;
}
.box-inside-cash{
  display: flex;
    background-color: white;
    border-radius: 10px;
    /* padding: 3%; */
    /* gap: 0px; */
    /* width: 100%;*/
}
.users-boxs{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  border-right: 1px solid lightgray;
  padding: 20px;
}
.img-user-box{
  display: flex;
    align-items: center;
}
.users-groups{
  font-size: 12px;
  font-weight: normal;
}
.player-numbers{
  font-size: 2em;
    font-weight: 700;
}
.click-boxs{
  display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
    border-right: 1px solid lightgray;
    padding: 20px;
}
.img-sales-box{
  display: flex;
}
.img-click-box{
  display: flex;
    /* align-items: self-start;*/
}
.click-groups{
  font-size: 12px;
    font-weight: normal;
}
.player-click{
  font-size: 2em;
  font-weight: 700;
}
.sales-boxs{
  display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
    border-right: 1px solid lightgray;
    padding: 20px;
}
.img-sales-box{
      align-items: center;
      display: flex;
}
.sales-groups{
  font-size: 12px;
  font-weight: normal;
}
.player-sales,.player-items{
  font-size: 2em;
  font-weight: 700;
}
.items-boxs{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
  padding: 20px;
}
.img-items-box{
  display: flex;
  align-items: center;
}
.items-groups{
  font-size: 12px;
    font-weight: normal;
}
.search-input-cash-box{
  display: flex;
  gap: 10px;
}
.select-days-box,.select-month-box{
  width: 30%;
}
.input-button-cash{
  width: 30%;
  display: flex;
}
.days,.month,.input-have-button{
  padding: 5%;
    border-radius: 10px;
 width: 100%;
    border: none;
    outline: none;
}
.button-cash{
  border-radius: 10px;
  background-color: #0087ff;
  color: white;
  border: none;
  width: 70px;
  height: 35px;
  outline: none !important;
  position: absolute;
}
.cash-display-1{
  align-items: center;
  display: flex;
  gap: 50px;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 4%;
  padding-bottom: 1%;
}
.cash-display-2{
  align-items: center;
  display: flex;
  gap: 50px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1%;
}
.cash-transaction-1,.cash-transaction-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}
.price-x-1,.price-x-2{
  font-size: 16px;
  font-weight: 800;
}
.price-y-2,.price-y-1{
  font-size: 12px;
  font-weight: 500;
}
.paypal-p-1,.paypal-p-2{
  font-size: 12px;
  font-weight: 600;
}
.paypal-1-x,.paypal-2-x{
  width: 20%;
}
.paid-or-not-1,.paid-or-not-2{
  background-color: #22c68c;
  border-radius: 8px;
  /* padding: .2%; */
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.t-paid-2,.t-paid-1{
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding-top: 10%;
}
.date-x-2,.date-x-1{
  width: 20%;
}
.date-y-2,.date-y-1{
  font-size: 13px;
    font-weight: 400;
    color: darkgrey;
}
.button-in-input-1{
  position: relative;
    top: 6px;
    right: 74px;
    display: flex;
}
.box-right-button{
  display: flex;
    width: 30%;
}
.box-income-r{
  display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    gap: 15%;
    padding: 10%;
    width: 100%;
    justify-content: center;
}
.b-come-box{
  display: flex;
    align-items: start;
}
.h-t-income{
  display: flex;
}
.t-i-income{
  font-size: 1.2em;
}
.garp-i-x{
  display: flex;
  width: 100%;
}
.withdraw-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-b-1{
  border: none;
    padding: 5% 10% 5% 10%;
    outline: none !important;
    border-radius: 10px;
    color: #fff;
    background-color: #0052cc;
    font-size: 1.2em;
}

/* Vendor CSS */
.button_box_card_box{
  display: flex;
}
.main_content_box.vendorGap{
  gap: 60px;
}
.cardBoxbox{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.boxImgVendor{
  height:200px;
  width:100%;
}
.card-img-top{
  height: 100%;
}
.card-body{
  gap: 10px;
}
.d-flex{
  gap: 10px;
}

/* Crud */
ul li{
 list-style: none;
}
.w_100{
  width: 100% !important;
}
.gap-40{
  gap: 40px;
}